<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Todo App - Delete Todo</title>
</head>
<body>
<div class="table-container">
    <h2 class="todo-title"> Delete todo </h2>
    <a href="/"> Back </a>

    <div>
        <p> Are you sure want delete this todo ? </p>
        <a href="" class=""> Yes </a>
        <a href="" class=""> No </a>
    </div>

</div>
</body>
</html>