<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App </title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body>
<div class="">
    <p class="fw-bold"> Todo List </p>
    <div>
        <a class="btn" href="/addTodo"> Add todo </a>
    </div>
    <br>
    <table>
        <tr>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
        </tr>
        <tr>
            <td> Test </td>
            <td> Test </td>
            <td> Test </td>
            <td> Test </td>
            <td>
                <a href="/updateTodo" class="btn btn-danger"> Edit </a>
                <a href="/deleteTodo" class="btn"> Delete </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>