<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="table-container">
    <h2 class="todo-titile"> ToDo List </h2>
    <div>
        <a class="btn" href=""> Add todo </a>
    </div>
    <br>
    <table>
        <tr>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
        </tr>
        <tr>
            <td> Test </td>
            <td> Test </td>
            <td> Test </td>
            <td> Test </td>
            <td> Test </td>
        </tr>
    </table>
</div>
</body>
</html>