@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

* {
    font-family: "Quicksand";
}

.closeIcon {
    cursor: pointer;
}